.button {
    font: inherit;
    border: 1px solid #AF2C50;
    background: #AF2C50;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #850023;
    border-color: #850023;
  }
  
  .button:focus {
    outline: none;
  }